* {
    box-sizing: border-box;
}

body {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: darkcyan;
}

header {
margin: 0;
padding: 0;
height: 12vh;
width: 100vw;
background-color: rgb(138, 89, 89);
display: flex;
}

h1 {
    margin: 0;
    padding: 0;
    color:cadetblue;
}

main {
    display: flex;
    background-color: darkcyan;
}

footer {
background-color: darkgray;
font-size: 0.5rem;
color: white;

}

#todo-list-container {
    padding: 2rem;
}

.add-list-button {
    height: 2rem;
    width: 5rem;
    background-color: violet;
    display: flex;
    flex-direction: column;
}

button {
    display: block;
}

#info {
    display: flex;

}

#info-icon {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.hidden {
    display: none;
}

.list-button {
    background-color:violet;
}

.todo {
    background-color: rgb(241, 241, 140);
}

.add-todo-button {
    color:yellowgreen;
    border-radius: 50%;
}